<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('Homebanner.jpeg') %>)">
  <h1>Cookbook & Flavors</h1>
  <p><em>Save your favourite recipes</em></p>
</div>

<div class="container">
  <div class="title-btn">
    <h2>Categories</h2>
    <%= link_to "New category", new_category_path, class: "button-grn" %>
  </div>
</div>


<div class="container">
  <ul class="row p-0 d-flex">
    <% @categories.each do |category| %>
      <li class="cat-card mx-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key %>')"><h3><%= link_to category.name, category_path(category) %></h3>
        <p><em><%= category.bookmarks.count %> Recipes</em></p>
      </li>
    <% end %>
  </ul>
</div>
<hr class="container">
