<h1><%= @category.name %></h1>
<%= link_to "Home", categories_path %>
<%= link_to "Add new recipe",  new_category_bookmark_path(@category) %>
<div>
  <ul>
    <% @category.bookmarks.each do |bookmark| %>
      <li>
        <h3><%= bookmark.recipe.name %></h3>
        <p><%= bookmark.recipe.description %></p>
        <em><%= bookmark.comment %></em>
        <p><%= bookmark.recipe.rating %>⭐</p></li>
        <%= link_to "Delete", category_bookmark_path(@category, bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </ul>
</div>
