<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @category.photo.key %>')">
  <h1><%= @category.name %></h1>
</div>

<div class="container">
  <div class="title-btn">
    <h2>Recipes</h2>
    <%= link_to "Add a recipe",  new_category_bookmark_path(@category), class: "button-grn" %>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @category.bookmarks.each do |bookmark| %>
    <div class="recipe-card mx-2">
        <%= image_tag bookmark.recipe.image_url %>
        <div class="recipe-info">
          <h3><%= bookmark.recipe.name %></h3>
          <p><%= bookmark.recipe.description %></p>
          <p><em>"<%= bookmark.comment %>"</em></p>
          <p><%= bookmark.recipe.rating %>⭐</p>
          <%= link_to category_bookmark_path(@category, bookmark),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
</div>
<hr class="container">
